{% extends 'tweets/base.html' %}
{%block title %}
This is home title
{% endblock title%}
    {% block content %}
    <div class="row text-center">
        <div class="col">
        <h1>Welcome to tweetme 2</h1>
        </div>
    </div>

    <div class ="row" id="tweet">
    Loading....
    </div>
    <script>
    function formatTweetElement(tweet){
        return "<div class='mb-4'><h1>"+tweet.id+"</h1>"+"<p>"+tweet.content+"</p>";
    }
    const tweetElement = document.getElementById("tweet")
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets_list"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.onload = function(){
        console.log(xhr.response)
        var listedItems = xhr.response.response
        var finalTweetStr = ""
        
        for(let i=0;i<listedItems.length;i++){
            console.log(i)
            let currentItem = formatTweetElement(listedItems[i]);
            finalTweetStr +=currentItem;        
        }
        console.log(finalTweetStr)
        tweetElement.innerHTML = finalTweetStr;
    }
    xhr.send()
    </script>

    {% endblock content%}